@import "../../shared/colors.scss";

.play-pause {
  &__actions {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    border-radius: .5rem;
  }
  
  &__action-reconcile {
    cursor: pointer;
    padding: 0.5rem;
    border-right: solid 1px $font-grey;
    width: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    &-icon{
      &--reconciling {
        color: $info;
        animation: rotate-reverse 2s linear infinite;
      }
    }

    &:hover {
      color: darken($font, 10%);
    }

    &:active {
      color: darken($font, 20%);
    }

  
    @keyframes rotate-reverse {
      0% {
        transform: rotateZ(-0deg);
      }
      0% {
        transform: rotateZ(-360deg);
      }
    }
  }
  
  &__action-toggle {
    cursor: pointer;
    padding: .5rem;
    width: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      color: darken($font, 10%);
    }

    &:active {
      color: darken($font, 20%);
    }

    &--suspended {
      color: $warning;
    }
    &--active {
      color: $success;
    }
  }
}
