@use "sass:color";
@use "../../shared/colors.scss";
@use "../../shared/mixins.scss";


.tree-view {
  @include mixins.flex-center(column);

  &__header {
    @include mixins.flex-center(row, 1, wrap);
  }

  &__apps {
    width: 100%;
    height: 75vh;
  }

  &__node-name {
    @include mixins.font-big;
  }

  &__node-conditions {
    @include mixins.flex-center(row);
    align-items: flex-start;
    margin: mixins.$pr;
  }

  &__node-conditions-condition {
    @include mixins.flex-center(column);
    @include mixins.words-wrap;

    height: 6em;
    padding: 0 mixins.$pr;
    border-right: 1px solid colors.$accent;
  }

  &__node-conditions-condition-status {
    padding-bottom: mixins.$pr;
  }
  
  &__node-conditions-condition-reason {
    @include mixins.font-normal(mixins.$bold);
    color: color.adjust(colors.$font, $lightness: -20%);
  }

  &__node-conditions-condition-message {
    @include mixins.font-small;
    color: color.adjust(colors.$font, $lightness: -20%);
  }
}
