@use "../../shared/colors.scss";
@use "../../shared/mixins.scss";

.apps-view {

  &__apps {

    @include mixins.media(mixins.$xxl) {
      width: 90rem;
    }
    @include mixins.media(mixins.$lg) {
      width: 60rem;
    }
    @include mixins.media(mixins.$md) {
      width: 16rem;
    }
    @include mixins.media(mixins.$sm) {
      width: 12rem;
    }
  
  }

  &__system-pods {
    @include mixins.flex-center(row, 1, wrap);
    margin-top: 2rem;

    @include mixins.media(mixins.$xxl) {
      width: 72rem;
    }
    @include mixins.media(mixins.$lg) {
      width: 60rem;
    }
    @include mixins.media(mixins.$md) {
      width: 16rem;
    }
    @include mixins.media(mixins.$sm) {
      width: 12rem;
    }
  }

  &__search-bar {
    overflow: hidden;
    padding: 2rem;
    width: 95rem;

    @include mixins.media(mixins.$xxl) {
      width: 72rem;
    }
    @include mixins.media(mixins.$xl) {
      width: 90vw;
    }
  }

  a {
    text-decoration: none;
  }
}
