@use "sass:color";
@use "../../shared/colors.scss";
@use "../../shared/mixins.scss";

.events-tab {
  width: 100%;
  height: 60rem; // TODO: this is not really right
  overflow-y: auto;

  &--no-events {
    @include mixins.flex-center(column, 2);
  }

  &__events {
    background-color: colors.$main;
    border-radius: .5rem;
  }
}

.logs-tab {
  font-size: .75rem;
  text-align: left;

  &__logs {
    height: 60rem; // TODO: this is not really right
    overflow: auto;
    background-color: colors.$secondary;
    border-radius: .5rem;
  }

  &__log-row {
    padding: 0 .5rem;
    border-radius: .5rem;
    display: flex;
    font-family: monospace;

    &:nth-child(odd) {
      background-color: colors.$background;
    }

    &:hover {
      background-color: colors.$accent-darker;
    }
  }

  &__log-container {
    margin-right: .5rem;
    max-width: 5rem;
    min-width: 5rem;
  }

  &__log-timestamp {
    min-width: 12rem;
    max-width: 12rem;
  }

  &__log-log {
    white-space: pre-wrap;
  }
}
