@import "../../shared/colors.scss";
@import "../../shared/mixins.scss";

.app {
  @include card;
  padding: 0;
  position: relative;
  height: 15rem;
  width: 30rem;
  padding: $pr;
  margin: $ps;

  @include media($xxl) {
    height: 12rem;
    width: 22rem;
  }
  @include media($xl) {
    height: 12rem;
    width: 30rem;
  }
  @include media($lg) {
    height: 15rem;
    width: 24rem;
  }
  @include media($md) {
    height: 15rem;
    width: 80vw;
  }
 
  &__container {
    @include flex-center(column, 1);
    height: 100%;
  }

  &__content {
    @include flex-center(column, 1);
    justify-content: flex-start;
    width: 100%;
    height: 100%;
  }

  &__header {
    @include flex-center(row, 1);
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
  }

  &__title {
    &-container {
      @include flex-center(column, 0);
      align-items: flex-start;
      min-width: 10rem;

    }
    &-name {
      @include font-medium;
    }
    &-namespace {
      @include font-normal($medium, 'accent');
    }
  }

  &__version {
    @include flex-center;
    width: 100%;
    height: 100%;
    justify-content: flex-end;
  }

  &__conditions {
    @include flex-center(rpw, 0.5, wrap);
    width: 100%;
    justify-content: flex-start;
  }

  &__logo {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 2rem;
    opacity: 0.4;
    width: 6rem;
    height: 6rem;

    @include media($xxl) {
      width: 4rem;
      height: 4rem;
      margin: 1rem;
    }

    @include media($md) {
      width: 6rem;
      height: 6rem;
      margin: 2rem;
    }

    @include media($sm) {
      width: 5rem;
      height: 5rem;
      margin: 2rem;
    }
  }

  &__footer {
    @include flex-center(row);
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    align-items: flex-end;
  }

  &__tags {
    position: absolute;
    bottom: -.75rem;
  }

  &__border {
    @include flex-center(row);
    @include rounded;
    position: absolute;
    overflow: hidden;
    z-index: -1;
    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px;

    &::before {
      position: absolute;
      content: ' ';
      display: block;
      width: 10rem;
      height: 36rem;
      background: linear-gradient(90deg, transparent, var(--gradient-color, $warning), var(--gradient-color, $warning), var(--gradient-color, $warning), var(--gradient-color, $warning), transparent);
      animation: rotate 3500ms infinite ease-in-out;
    }

    @keyframes rotate {
      0% {
        transform: rotateZ(0deg);
      }
      0% {
        transform: rotateZ(360deg);
      }
    }
  }
}
