$background: #0a0a0a;
$secondary: #101010;
$main: #171717;
$accent: #3c3c3c;
//$accent: #262626;
$accent-darker: #202020;
$success: #4ade80;
$error: #d26464;
$warning: #e1b816;
$info: #5a99e6;
$font: #e5e5e5;
$font-grey: #737373
